.TodoList .list ul {
    list-style: none;
    padding-left: 10px;
}

.TodoList .list ul li {
    position: relative;
    padding-left: 10px;
    height: 30px;
    border-bottom: 1px solid #c0c0c0;
    margin-top: 10px;

    font-size: 16px;
}

.TodoList .list ul li input {
    display: inline;

    width: 16px;
    height: 16px;
    
    margin-right: 16px;
    vertical-align: middle; /* centraliza horizontalmente em relação ao texto */
}

.TodoList .list ul li span {
    position: absolute;
    right: 10px;

    width: 25px;
    height: 25px;
    
    border-radius: 50%;
    text-align: center;

    color: #dd2929;
    transition: all 0.2s;

    cursor: pointer;
}

.TodoList .list ul li span:hover {
    color: #ffffff;

    background-color: #dd2929;
}

.itemChecked {
    background-color: rgba(0, 0, 0, 0.1);
}